<div style="padding: 10px; background-color: #003375; font-family: Nunito !important;">
    <div style="padding: 30px 60px; background-color: #e0e0e0;">
       <div style="background-color: white; padding: 15px;">
            <div style="padding: 0 0 15px 0">
                <center>
                    <a style="display: inline-block;" href="/"><img class="" src="user/img/logo.png" alt="Logo"></a>
                </center>
            </div>
            <h2 style="text-align:center">Just more one step ... </h2>
            <h4 style="text-align:center;">Click the big button below to your Ustora account.</h4>
            <div style="padding: 0 0 15px 0">
                <button style="padding: 20px;
                    border-radius: 10px;
                    font-size: 20px;
                    background: #8ec1ee;
                    color: white;
                    border-color: #8ec1ee;">Activate account</button>  
            </div>
       </div>
       <p style="text-align:center;">@2021 Ustora. All rights reserved</p>
    </div>
</div>